
.profile {
    text-align: center;
    padding: 50px 0;
    animation: fadeIn 1s forwards;
  }
  
  .profile p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Keyframes for fadeIn animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
